body {
    background-image: url(../images/Real-Madrid-DC-Logo.jpg);
    background-size: cover;
}
.div1 {
    width: 250px;
    height: 200px;
    background-image: url(../images/cr.png) ;
    background-size: cover;
    animation-name: div1;
    animation-duration: 5s;
    position: absolute;
    border-radius: 30px;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;

}

.div2  {
    width: 250px;
    height: 200px;
    background-image: url(../images/thumb2-4k-karim-benzema-2022-real-madrid-cf-blue-neon-lights.jpg) ;
    background-size:  cover;
    position: absolute;
    margin: 250px 0px 0px ;
    animation-name: div2;
    animation-duration: 5s;
    border-radius: 30px;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function:ease-in-out;

}
.div3 {
    width: 250px;
    height: 200px;
    background-image: url(../images/m10.jpeg) ;
    background-size:  cover;
    position: absolute;
    margin: 500px 0px;
    animation-name: div3;
    animation-duration: 5s;
    border-radius: 30px;
   animation-delay: 10s;
   animation-fill-mode: forwards;
   animation-timing-function:ease-in-out;

}
.div4  {
    width: 250px;
    height: 200px;
    background-image: url(../images/vini.jpeg) ;
    background-size:  250px 200px;
    position: absolute;
    margin: 750px 0px 0px ;
    animation-name: div4;
    animation-duration: 5s;

    border-radius: 30px;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function:ease-in-out;

}
.div5  {
    width: 250px;
    height: 200px;
    background-image: url(../images/Ramos.jpeg) ;
    background-size:  cover;
    position: absolute;
    margin: 1000px 0px;
    animation-name: div5;
    animation-duration: 5s;
    
    border-radius: 30px;
    animation-delay: 20s;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;

}
.div6 {
    width: 250px;
    height: 200px;
    background-image: url(../images/vlvl.jpeg) ;
    background-size:  250px 200px;
    position: absolute;
    margin: 1250px 0px 50px ;
    animation-name: div6;
    animation-duration: 5s;

    border-radius: 30px;
    animation-delay: 25s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-timing-function:ease-in-out;

}

@keyframes div1 {
    0% {background-image: url(../images/benzo.jpeg);background-size: 250px 200px; left: 0;}
    25% {background-image: url(../images/Ramos.jpeg);background-size: 250px 200px;}
    50% {background-image: url(../images/m10.jpeg);background-size: 250px 200px; }
    75% {background-image: url(../images/bale.jpeg);background-size: 250px 200px;}
    100% {background-image: url(../images/vini.jpeg);background-size: 250px 200px; left: 1080px;}

}
@keyframes div2 {
    0% {background-image: url(../images/cr7-hd-abstract-blue-background-4u6azl5o1skao3ij.jpg) ;background-size: 250px 200px; left: 0;}
    25% {background-image: url(../images/Ramos.jpeg);background-size: 250px 200px;}
    50% {background-image: url(../images/vini+ben.jpeg);background-size: 250px 200px;}
    75% {background-image: url(../images/bale.jpeg);background-size: 250px 200px;}
    100% {background-image: url(../images/vlvl.jpeg);background-size: 250px 200px; left: 1080px;}

}
@keyframes div3 {
    0% {background-image: url(../images/benzo.jpeg);background-size: 250px 200px; left: 0;}
    25% {background-image: url(../images/Ramos.jpeg);background-size: 250px 200px;}
    50% {background-image: url(../images/cristiano-ronaldo-cr7-wallpaper-1920x1440_25.jpg);background-size: 250px 200px;}
    75% {background-image: url(../images/bale.jpeg);background-size: 250px 200px;}
    100% {background-image: url(../images/vlvl.jpeg); left: 1080px;background-size: 250px 200px;}

}
@keyframes div4 {
    0% {background-image: url(../images/cr7.jpeg); background-size: 250px 200px; left: 0;}
    25% {background-image: url(../images/Ramos.jpeg); background-size: 250px 200px;}
    50% {background-image: url(../images/m10.jpeg); background-size: 250px 200px;}
    75% {background-image: url(../images/thumb-karim-benzema-real-madrid-french-footballer-portrait-turquoise-stone-background.jpeg);background-size: 250px 200px;}
    100% {background-image: url(../images/vlvl.jpeg); left: 1080px;background-size: 250px 200px;}

}
@keyframes div5 {
    0% {background-image: url(../images/benzo.jpeg);background-size: 250px 200px; left: 0;}
    25% {background-image: url(../images/cr.png);background-size: 250px 200px;}
    50% {background-image: url(../images/m10.jpeg);background-size: 250px 200px;}
    75% {background-image: url(../images/bale.jpeg);background-size: 250px 200px;}
    100% {background-image: url(../images/vlvl.jpeg); left: 1080px;background-size: 250px 200px;}

}
@keyframes div6 {
    0% {background-image: url(../images/cr7-hd-abstract-blue-background-4u6azl5o1skao3ij.jpg);background-size: 250px 200px; left: 0;}
    25% {background-image: url(../images/Ramos.jpeg);background-size: 250px 200px;}
    50% {background-image: url(../images/m10.jpeg);background-size: 250px 200px;}
    75% {background-image: url(../images/bale.jpeg);background-size: 250px 200px;}
    100% {background-image: url(../images/thumb2-4k-karim-benzema-2022-real-madrid-cf-blue-neon-lights.jpg);background-size: 250px 200px; left: 1080px;}

}
  

